@import 'reset';
@import 'autoform';
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
$primary:#8CAB28;
$primary-alt:#7a9521;
$dark-gray:#1b1f21;
$medium-gray:#2A2E32;
$light-gray:#44474d;
@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}
.shake {-webkit-animation-name: shake;}

html, body {
	padding:0;
	margin:0;
	height:100%;
	width:100%;
	background:rgb(27, 31, 33);
	border-radius:10px;
	font-size:0;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing:antialiased;
}
body{
	box-sizing: border-box;
}
#main-iframe {
	width:100%;
	border:0;
	outline:0;
	height:calc(100vh - 76px);
	overflow:hidden;
}
.frame {
	box-shadow: 0 0 0 1px #000, 0 0 0 2px $medium-gray, 0 0 0 3px #000;
	border-radius:3px;
	height: 100%;
}
.table {
	display:table;
	width:100%;
	height:calc(100% - 30px);
	table-layout:fixed;
}
/*
db   db d88888b  .d8b.  d8888b. 
88   88 88'     d8' `8b 88  `8D 
88ooo88 88ooooo 88ooo88 88   88 
88~~~88 88~~~~~ 88~~~88 88   88 
88   88 88.     88   88 88  .8D 
YP   YP Y88888P YP   YP Y8888D' 
*/

header {
	background: $medium-gray;
	padding-top: 25px;
	height:44px;
	-webkit-app-region:drag;
	-webkit-user-select:none;
	border-radius:6px 6px 0 0;
	border-bottom: 1px solid $dark-gray;
	text-align:center;
	position:relative;
}
.head-btn-wrap{
	position: absolute;
	left: 18px;
	top: 23px;
}
.head-btn {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	margin: 0;
	display: inline-block;
	-webkit-app-region: no-drag;
	background: #FFF;
	border: 3px solid $medium-gray;
	transition:all .15s ease-out;
}
.close {background:#E26757;}
.minimize {background:#E0AC40;}
.maximize {background:#7BC240;}
.close:hover {background:#f33226;}
.minimize:hover {background:#f6d000;}
.maximize:hover {background:#65da55;}

.head-title {
	font-size:13px;
	letter-spacing: .4em;
	color:#fff;
	margin-bottom:25px;
	span {
		color:#575757;
	}
}

.head-connection {
	color: #393D41;
	position: absolute;
	right: 18px;
	top: 18px;
	
	i {
		padding-right:2px;
	}
	.con-result {
		font-size: 11px;
		color: #FFF;
		background: #393D41;
		border-radius: 2px;
		display: inline-block;
		text-align: left;
		width: 175px;
		padding: 7px;
		text-decoration: none;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align:middle;
		position:relative;
		transition:all .2s ease-out;
		-webkit-app-region: no-drag;
	}
	.con-result:hover {
		background: #45494D;
	}
	
	.con-result-active, .con-result-active:hover {
		background:$primary;
	}
	.con-result:after {
		content:'';
		display:block;
		width:0;
		height:0;
		border:5px solid transparent;
		border-top:5px solid white;
		position:absolute;
		right:10px;
		top:10px;
	}
}
.con-panel {
	display:none;
	background: #393D41;
	padding: 15px;
	position: absolute;
	top: 125%;
	width: 159px;
	left: 2px;
	border-radius: 2px;
	z-index:10;
	ul {
		a:link,
		a:visited {
			color: #fff;
			text-decoration: none;
			font-size: 11px;
			display: block;
			padding: 6px 4px;
			border-radius:2px;
			text-align: left;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			-webkit-user-select: none;
		}
		a:hover {
			background:#45494D;
		}
	}
	hr {
		border:0;
		border-bottom:1px solid #282828;
	}
	a:link, a:visited {
		text-decoration: none;
		color: #fff;
		font-size: 12px;
		display:block;
		padding: 6px 4px;
		border-radius:2px;
		i {
			padding-right:4px;
		}
	}
	a:hover {
		background:#45494D;
	}
}
.con-panel:after {
	content: '';
	border: 5px solid transparent;
	border-bottom: 5px solid #393D41;
	position: absolute;
	top: -10px;
	left: 50%;
	margin-left: -5px;
}

.v-center {
	height: calc(100% - 30px);
	display:table-cell;
	vertical-align: middle;
}
.connection-tabs {
	margin:0 -15px -15px -15px;
	padding:15px 0 0 0;
}
.connections {
	background:$light-gray;
	width:300px;
	margin:0 auto;
	padding:15px;
	box-sizing:border-box;
	box-shadow:0 5px 25px rgba(0,0,0,.3);
	border-radius:2px;
	-webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
	hr {
		margin:15px -15px;
		border:0;
		border-bottom:1px solid $dark-gray;
	}
	h1 {
		color:$primary;
		font-size:18px;
		text-align: center;
		display:inline-block;
		width:100%;
		box-sizing:border-box;
	}
	h2 {
		color:$primary;
		font-size:14px;
		text-align: center;
		margin:0 0 10px 0;
		display:inline-block;
		width:100%;
		box-sizing:border-box;
	}
	label {
		display:block;
		text-transform:uppercase;
		font-size:11px;
		padding-top:10px;
		color:#222;
	}
	input[type="text"]{
		display:block;
		width:100%;
		padding:10px;
		box-sizing:border-box;
		background:#BAC2C6;
		outline:0;
		border:0;
		border-radius:3px;
	}
	input[type="text"]:focus {
		background:#fff;
	}
	.button {
		display:block;
		width:100%;
		padding:10px;
		box-sizing:border-box;
		background:$primary-alt;
		color:#222;
		outline:0;
		border:0;
		border-radius:3px;
		margin-top:10px;
		font-family: 'Montserrat', sans-serif;
	}
	.button:hover {
		background:$dark-gray;
		color:#fff;
		cursor: pointer;
	}

	.tab {
		width: 50%;
		font-size: 11px;
		background: $medium-gray;
		border-radius: 6px 6px 0 0;
		display: inline-block;
		color: #FFF;
		text-decoration: none;
		text-align: center;
		padding: 10px 0;
	}
	.tab-current {
		background:$primary;
	}
	.tab:last-of-type {
		box-shadow:-1px 0 0 $light-gray;
	}
	.tab-content {
		background:$primary;
		padding:15px;
		display:none;
	}
}
.connection-list {
	background:$dark-gray;
	max-height:100px;
	overflow:auto;
	font-size:12px;
	color:#fff;
	margin-top:15px;
	a:link,
	a:visited {
		color:#fff;
		text-decoration: none;
		display:block;
		padding:10px 15px;
		font-size:12px;
		border-bottom:1px solid rgba(255,255,255,.05);
	}
	a:hover {
		background:$primary;
		color:#222;
	}
	a:before {
		content:'\f0da';
		float:right;
		font-family:fontawesome;
	}
}
.remove-list {
	background:$dark-gray;
	max-height:100px;
	overflow:auto;
	font-size:12px;
	color:#fff;
	margin-top:15px;
	a:link,
	a:visited {
		color:#fff;
		text-decoration: none;
		display:block;
		padding:10px 15px;
		font-size:12px;
		border-bottom:1px solid rgba(255,255,255,.05);
	}
	a:hover {
		background:#4F0002;
		color:#E61313;
	}
	a:before {
		content:'\f00d';
		float:right;
		font-family:fontawesome;
	}
}
.connection-list::-webkit-scrollbar {
	width: 8px;
}
 
/* Track */
.connection-list::-webkit-scrollbar-track {
	background:$dark-gray;
}
 
/* Handle */
.connection-list::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: $medium-gray; 
	-webkit-box-shadow: inset 0 0 0 2px $dark-gray; 
}
.connection-list::-webkit-scrollbar-thumb:hover,
.connection-list::-webkit-scrollbar-thumb:active {
	background: $light-gray; 
}
.menu-bar {
	background: #44474D;
	border-bottom: 1px solid #222;
	display: block;
	font-size: 11px;
	text-align: left;
	color: #BAC2C6;
	height: 29px;
	
	#image-toolbar {
		display:inline-block;
	}
	.vr {
		width: 1px;
		height: 10px;
		background: #000000;
		display: inline-block;
		margin: 0 2px;
		box-shadow: 1px 1px 0 0px rgba(255, 255, 255, 0.15);
	}
	h1 {
		font-weight:bold;
		color:$primary;
		font-size:12px;
		display:inline-block;
	}
	>ul>li {
		display:inline-block;
		vertical-align:top;
		position:relative;
		padding:5px 2px;
		>a:link, >a:visited {
			text-decoration: none;
			color: #FFF;
			padding:3px 4px;
			border-radius:2px;
			display:inline-block;
		}
		>a:hover {
			background:#222;
		}
	}
	>ul>li>ul {
		transition:all .2s ease-out;
		position:absolute;
		display:none;
		top:100%;
		left:0;
		z-index:100;
		background:$primary;
		box-shadow:0 6px 15px rgba(0,0,0,.3);
		border-radius:0 0 2px 2px;
	}
	>ul>li:hover > ul {
		display:block;
		min-width:200px;
		height:auto;
	}
	>ul>li>ul>li {
		display:block;
		white-space:nowrap;
		position:relative;
		i{
			font-size: 16px;
			color:#000;
		}
		a:link, a:visited {
			text-decoration: none;
			color: #FFF;
			font-size: 12px;
			padding:12px 10px 12px 20px;
			display:block;
			position:relative;
		}
		a:hover {
			background:$primary-alt;
			color:#000;
		}
		a:active {
			padding:13px 10px 11px 20px;
		}
		.on:before {
			content: "\f00c";
			font-family: FontAwesome;
			display:inline-block;
			position:absolute;
			left:4px;
		}
	}

	>ul>li>ul>li>ul {
		display:none;
		position:absolute;
		left:100%;
		top:0;
		background:$primary-alt;
	}
}
/*
.d8888. d888888b d8888b. d88888b 
88'  YP   `88'   88  `8D 88'     
`8bo.      88    88   88 88ooooo 
  `Y8b.    88    88   88 88~~~~~ 
db   8D   .88.   88  .8D 88.     
`8888Y' Y888888P Y8888D' Y88888P 
*/

.sidebar-right {
	display:table-cell;
	background:#DEE2E8;
	vertical-align:top;
	width:250px;
	transition:width .25s ease-out;
}
.panel-toggler {
	display: block;
	background: #B7BBC3;
	color: #DEE2E8;
	position: absolute;
	left: 0;
	top: 50%;
	width: 10px;
	height: 40px;
	margin-top: -20px;
	font-size: 10px;
	text-align: center;
	padding-top: 15px;
	box-sizing: border-box;
}
.panel-toggler:hover {
	background:$dark-gray;
}

.sidebar-right-scroll {
	height:100%;
	overflow-y:auto;
	position:relative;
	width: 250px;
	transition:width .2s ease-out;
	>ul{
		padding:15px;
	}
	>ul>li>a>i{
		padding:0 5px;
		transition:all .2s ease-out;
	}
	>ul>li>a:link,
	>ul>li>a:visited {
		display:block;
		font-size:13px;
		padding-bottom:4px;
		color:#363B3F;
		text-decoration:none;
		margin-top:10px;
		font-weight:bold;
	}
	>ul>li ul {
		padding-left:22px;
		i{
			width:15px;
			color:#B7BBC3;
		}
		a:link,
		a:visited {
			display:block;
			padding: 5px 15px 5px 5px;
			color:#696969;
			font-size:11px;
			text-decoration:none;
			position:relative;
			overflow:hidden;
			text-overflow: ellipsis;
			white-space: nowrap;            
			border-radius:2px;
		}
		a:hover {
			background:#CFD3D7;
		}
	}
	#current-page {
		background: $primary;
		color: #FFFFFF;
		i {
			color:#fff;
		}
		.sort-drag {
			color:#fff;
		}
	}
	input[type="text"] {
		background: none;
		outline: none;
		border: none;
		border-bottom: 1px solid $primary;
		display: inline-block;
		width: 160px;
		color: $primary;
		font-size: 11px;
		font-family: 'Montserrat', sans-serif;
	}
	input[type="text"]::-webkit-input-placeholder {
		color: $primary;
	}
}
.sidebar-right-closed {
	width:10px;
	overflow:hidden;
}
.sidebar-right-scroll::-webkit-scrollbar {
	width: 8px;
}
 
/* Track */
.sidebar-right-scroll::-webkit-scrollbar-track {
	background:#DEE2E8;
}
 
/* Handle */
.sidebar-right-scroll::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #5c5c5c; 
	-webkit-box-shadow: inset 0 0 0 2px #DEE2E8; 
}
.sidebar-right-scroll::-webkit-scrollbar-thumb:hover,
.sidebar-right-scroll::-webkit-scrollbar-thumb:active {
	background: #222; 
}
.page-add {
	display:none;
}
.page-add-cancel {color:rgb(167, 77, 77)!important;}
.page-add-confirm {color:$primary!important;}

.flipped {
	transform:rotate(180deg)!important;
}
.sidebar-option {
	padding-left:25px;
	font-size:12px;
	hr {
		border:0;
		outline:0;
		border-bottom:1px solid #ccc;
	}
	a:link, a:visited {
		color:#696969!important;
		text-decoration:none;
		font-size:12px;
		display:block;
	}
	i {
		width:15px;
	}
	a:hover, a:active {color:#363B3F!important}
}
.sort-drag {
	position: absolute;
	right:5px;
	top:5px;
	width:auto!important;
	color:#B7BBC3;
	cursor: -webkit-grab;
}
.sort-drag:active {
	cursor: -webkit-grabbing;
}
.sort-drag:hover {
	color:#222;
}



/*
d88888b d8888b. d888888b d888888b  .d88b.  d8888b. 
88'     88  `8D   `88'   `~~88~~' .8P  Y8. 88  `8D 
88ooooo 88   88    88       88    88    88 88oobY' 
88~~~~~ 88   88    88       88    88    88 88`8b   
88.     88  .8D   .88.      88    `8b  d8' 88 `88. 
Y88888P Y8888D' Y888888P    YP     `Y88P'  88   YD 
*/
.main {
	display:table-cell;
	vertical-align:top;
	padding:10px 10px 0 10px;
	font-size:14px;
	box-sizing:border-box;
	background-image: url('../images/jr-10-white.svg');
	background-size:100px 100px;
	background-repeat:no-repeat;
	background-position:center;
}
.main-scroll {
	height: 100%;
	overflow:auto;
}
.main-scroll::-webkit-scrollbar {
	width: 8px;
}
 
/* Track */
.main-scroll::-webkit-scrollbar-track {
	background:$dark-gray;
}
 
/* Handle */
.main-scroll::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #5c5c5c; 
	-webkit-box-shadow: inset 0 0 0 2px $dark-gray; 
}
.main-scroll::-webkit-scrollbar-thumb:hover,
.main-scroll::-webkit-scrollbar-thumb:active {
	background: #ccc; 
}
.sidebar-left {
	font-size: 0;
	display:table-cell;
	vertical-align: top;
	width: 200px;
	min-width: 200px;
	background-color: $light-gray;
}
.sidebar-left-scroll {
	height:100%;
	overflow:auto;
}
.sidebar-left-scroll::-webkit-scrollbar {
	width: 8px;
}

/* Track */
.sidebar-left-scroll::-webkit-scrollbar-track {
	background:$dark-gray;
}
 
/* Handle */
.sidebar-left-scroll::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #5c5c5c; 
	-webkit-box-shadow: inset 0 0 0 2px $dark-gray; 
}
.sidebar-left-scroll::-webkit-scrollbar-thumb:hover,
.sidebar-left-scroll::-webkit-scrollbar-thumb:active {
	background: #ccc; 
}
.editor-toolbar {
	li {
		display:inline-block;
		position:relative;
	}
}
.panel {
	border: 1px solid $dark-gray;
	border-top: 0;
	border-right: 0;
	background: $light-gray;
}
.panel-toggle {
	color: #5C5C5C;
	text-decoration: none;
	float: right;
	font-size: 14px;
	padding: 3px 5px;
	transition:all .2s ease-out;
}
.panel-toggle:hover {
	color:$primary;
}
.panel-title {
	box-shadow:inset 0 1px rgba(255, 255, 255, 0.1), inset 0 -1px $dark-gray;
	overflow:hidden;
}
.panel-title-tab {
	font-size:11px;
	color: #BAC2C6;
	display:inline-block;
	padding: 5px 8px;
	font-weight:bold;
	position:relative;
	text-decoration:none;
	transition:background .2s ease-out;
	position:relative;
	left:-1px;
}
.panel-title-active {
	background:$medium-gray!important;
	color:#fff!important;
	z-index:2;
	border-right:1px solid $dark-gray;
	border-left:1px solid $dark-gray;
	box-shadow:inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 0 $medium-gray;
}
.panel-title-active:after {
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	border-radius: 0 0 0 7px;
	border: 1px solid $dark-gray;
	bottom: -1px;
	right: -13px;
	border-right: 0;
	border-top: 0;
	box-shadow: -2px 2px 0 -1px $medium-gray;
}
.panel-title-active:before {
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	border-radius: 0 0 7px 0;
	border: 1px solid $dark-gray;
	bottom: -1px;
	left: -13px;
	border-left: 0;
	border-top: 0;
	box-shadow: 2px 2px 0 -1px $medium-gray;
}
.panel-contents {
	background:$medium-gray;
	font-size:11px;
	color:#BAC2C6;
	padding:15px;
	line-height:1.4em;
	hr {
		border:0;
		border-bottom:1px solid $light-gray;
		border-top:1px solid $dark-gray;
	}
	label {
		display:inline-block;
		font-size:10px;
		padding:4px 0 0 0;
		span {
			position:relative;
			i{
			color:$primary;
			cursor:help;
			}
		}
	}
	input[type="text"]{
		font-size: 11px;
		color: #FFF;
		background: #393D41;
		border-radius: 2px;
		border:0;
		outline:none;
		display: inline-block;
		text-align: left;
		width: 100%;
		box-sizing:border-box;
		padding: 7px;
		margin:2px 0;
	}
	textarea {
		font-size: 11px;
		color: #FFF;
		background: #393D41;
		border-radius: 2px;
		border:0;
		outline:none;
		display: inline-block;
		text-align: left;
		width: 100%;
		min-height:100px;
		box-sizing:border-box;
		padding: 7px;
		margin:2px 0;
	}
	input[type="text"]::-webkit-input-placeholder,
	textarea::-webkit-input-placeholder {
		color:#7D7D7D;
		font-style:italic;
	}
	.tool-highlight {
		color:$primary!important;
	}
}
.tooltip {
  background: $primary;
  color: #FFF;
  padding: 10px;
  font-size: 10px;
  position: absolute;
  left: -5px;
  top: 24px;
  width: 150px;
  z-index: 50;
  border-radius: 0 3px 3px 3px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.38);
}
.tooltip:after {
  content: '';
  border: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid $primary-alt;
  border-bottom: 5px solid $primary-alt;
  position: absolute;
  top: -10px;
  left: 0px;
}
.panel-group {
	display:none;
	.scroll {
		overflow:auto;
		max-height:200px;
		background:$dark-gray;
		a:link, a:visited {
			text-decoration:none;
			color:#fff;
			display:block;
			padding:5px;
		}
		a:hover {
			background:$primary;
		}
	}
	a:link, a:visited {
		color:$primary;
		text-decoration:none;
		display:inline-block;
		padding:2px;
	}
	a:hover {
		color:$primary-alt;
	}
}
.panel-group:nth-child(1) {
	display:block;
}
/* top-level buttons */
.editor-toolbar>ul>li> a:link,
.editor-toolbar>ul>li> a:visited {
	outline: none;
	border: 0;
	font-size: 14px;
	padding: 5px;
	text-align: center;
	display: inline-block;
	color: #BAC2C6;
	background: $medium-gray;
	text-decoration: none;
	vertical-align: top;
	position: relative;
	margin: 3px 2px;
	border-radius: 2px;
	transition:all .15s ease-out;
	i {
		display:inline-block;
		width:16px;
		height: 16px;
	}
}
.editor-toolbar>ul>li> a:hover {
	color: $primary;
	background:#000;
}
/* dropdowns */
.editor-toolbar > ul > li > ul {
	display: none; 
	background: #4F5357;
	padding: 0;
	position: absolute;
	top: 0;
	left: 100%;
	border-radius: 2px;
	z-index:100;
	li {
		display:block;
	}
	a:link,
	a:visited {
		outline: none;
		border: 0;
		font-size: 14px;
		min-width: 15px;
		height: 15px;
		padding: 8px 12px;
		text-align: left;
		display: block;
		color: #BAC2C6;
		text-decoration: none;
		vertical-align: top;
		position: relative;
		white-space:nowrap;
	}
	a:hover {
		color:#fff;
	}
	input[type="text"] {
		outline:none;
		border:none;
		margin:2px 0;
		padding:4px 15px;
		border-radius:20px;
		width:50px;
	}
}
.editor-toolbar > ul > li > ul:after {
	content: '';
	border: 5px solid transparent;
	border-right: 5px solid #4F5357;
	position: absolute;
	top: 10px;
	left: -10px;
}

.editor {
	max-width: 960px;
	margin: 0px auto;
}
.editor-title {
	background: linear-gradient(to bottom, #EFF0F1 0%, #DEE2E8 100%);
	color: #979797;
	padding: 10px;
	text-align: center;
	position: relative;
	border-radius: 2px 2px 0 0;
	font-size:12px;
	h1 {
		color: #797979;
		font-size:12px;
		font-weight:bold;
		display:inline-block;
	}
	a:link,
	a:visited {
		float:left;
		color:inherit;
	}
	a:hover {
		color:#222;
	}
}
.special-btn {
	display: inline-block;
	text-decoration: none;
	border: 1px solid #CACACA;
	padding: 5px 8px 4px 8px;
	position: absolute;
	right: 10px;
	top: 5px;
	margin-left: 5px;
	border-radius: 4px;
	font-size: 11px;
	box-shadow: inset 0 1px 0 #fff;
	color: #5D5D5D!important;
}
.special-open {
	padding: 6px 8px 3px 8px;
	background: #dee2e8;
	color: #3b3b3b !important;
	box-shadow: inset 0 1px 0px rgba(0,0,0,0.3);
}
.special-content {
	display: none;
	background: #FFFFFF;
	color: #5F5F5F;
	padding: 30px;
	font-size: 12px;	
	h1 {
		font-weight:bold;
		font-size:16px;
		margin:15px 0;
	}
	h1:first-of-type {
		margin-top:0;
	}
	.button {
		display: inline-block;
		border: 2px solid #C8C8C8;
		color: #8A8A8A;
		text-decoration: none;
		padding: 6px;
		font-size: 13px;
		border-radius: 4px;
		box-shadow:0 0 0 $primary;
		transition:.2s;
	}
	.button:hover {
		border:2px solid $primary;
		color:$primary;
	}
	.button:active {
		transition:none;
		background:$primary-alt;
		border:2px solid $primary-alt;
		color:#fff;
	}
	table {
		margin:15px 0;
		border-collapse: collapse;
		a:link, a:visited {
			color:inherit;
			padding:2px;
			i {
				font-size:16px;
			}
		}
		a:hover {
			color:$primary;
		}
	}
	thead tr{
		background:#DEE2E8;
		text-transform:uppercase;
		font-size:12px;
	}
	tr {
		background:#F3F5F7;
	}
	tr:nth-child(2n) {
		background:none;
	}
	td {
		padding:5px;
		border: 1px solid #fff;
	}
	.pagination {
		float:right;
		select {
			display: inline-block;
			border: 2px solid #C8C8C8;
			color: #8A8A8A;
			text-decoration: none;
			background: none;
			height: 29px;
			font-size: 13px;
			border-radius: 4px;
			box-shadow: inset 0 0 0 $primary;
			transition: .2s;
			outline:none;
		}
		select:hover {
			color: $primary;
			border:2px solid $primary;
		}
	}
}

.special-content:after {
	content:'';
	display:block;
	clear:both;
}
#stripformat {
	width:0;
	height:0;
	position:absolute;
	left:-9999px;
	top:-9999px;
}
.html-mode {
	display: none;
	position: relative;
	line-height: 1.4em;
	color: #525252;
	border-radius: 0 0 2px 2px;
	max-width: 960px;
	margin: 0 auto;
}
.editor-text {    
	padding: 30px;    
	position: relative;
	line-height: 1.4em;
	color: #525252;
	background: #F7F9FB;
	border-radius: 0 0 2px 2px;
	transition:all .2s ease-out;
	a:link,
	a:visited {
		color:$primary;
	}
	h1 {
		font-size:2em;
		display:block;
		padding:10px 0;
	}
	h2 {
		font-size:1.5em;
		display:block;
		padding:10px 0;
	}
	h3 {
		font-size:1.2em;
		display:block;
		padding:10px 0;
	}
	ul, ol {
		margin:10px 10px 10px 30px;
	}
	ol li {
		list-style:decimal;
	}
	ul li {
		list-style:disc;
	}
	table {
		border-collapse: collapse;
		margin:15px 0;
	}
	table tr:nth-child(2n) {
		background:#E6E6E6;
	}
	table td {
		border:1px solid #c7cacf;
		padding:6px;
		position: relative;
	}
	blockquote {
		float: right;
		background: #222;
		color: #fff;
		display: block;
		padding: 15px 15px 15px 70px;
		max-width: 300px;
		position: relative;
		border-radius:3px;
		margin:0 0 15px 15px;
	}
	blockquote:after {
		content: '\201C';
		font-family: georgia;
		font-size: 150px;
		line-height: 138px;
		position: absolute;
		top: 50%;
		margin-top: -30px;
		left: 2px;
		opacity: .2;
		width: 60px;
		height: 60px;
	}
	th {
		background:$primary;
		color:#222;
		border:1px solid $primary-alt;
		text-align:left;
		font-weight:normal;
		padding:4px;
	}
	img {
		transition:all .2s ease-out;
		cursor:pointer;
		box-sizing: border-box;
	}
	.float-right {
		float:right;
		margin:0 0 30px 30px;
		border-radius:3px;
		max-width:100%;
		height:auto;
	}
	.float-left {
		float:left;
		max-width:100%;
		height:auto;
		margin:0 30px 30px 0;
		border-radius:3px;
	}
	.float-normal {
		border-radius:3px;
		max-width:100%;
		height:auto;
	}
	.float-center {
		display:block;
		max-width:100%;
		height:auto;
		margin:10px auto;
		border-radius:3px;
	}
	.responsive-iframe-container {
		position: relative;
		padding-bottom: 56.25%; // This is the aspect ratio
		height: 0;
		overflow: hidden;
		iframe,   
		object,  
		embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100% !important;
			height: 100% !important;
		}
	}
}

.editor-text:focus {
	outline:none;
}
.editor-text:after {
	content:'';
	display:block;
	clear:both;
}
.selectedImg {
	background: url("../images/lines.gif");
	padding: 3px;
	border: 0!important;
}
#selectedCell {
	background: #E9F5C5;
	color: $primary;
}



.table-dimension {
	padding:10px;
	font-size:0;
	line-height:0;
	b {
		font-size:12px;
		line-height: 1em;
	}
}
.editor-drop:after {
	content:'\f054';
	color:#222;
	font-family:fontawesome;
	position:absolute;
	right:5px;
	top:13px;
}
.table-dimension-result {
	margin-top:10px;
	font-size:13px;
	color:#fff;
	font-weight:bold;
	text-align:center;
	border-top:1px solid rgba(255,255,255,.3);
	line-height:1.4em;
}
.row-add {
	white-space:nowrap;
}
.cell-add {
	display:inline-block!important;
	width:10px!important;
	min-width:0!important;
	height:10px!important;
	border:2px solid $primary-alt!important;
	padding:0!important;
	background:rgba(0,0,0,.2);
}
.cell-add:hover, .cell-highlight {
	border:2px solid $primary!important;
	background:rgba(0,0,0,.8)!important;
	cursor:pointer;
}

@media screen and (max-width: 1250px) {
}